// app global css in Sass form

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')

html
  --main-bg-color: #070707
  --font: 'Quicksand', sans-serif

body
  font-size: 14px
  background-color: var(--main-bg-color)
  color: rgb(126, 216, 255)

.page-column
  max-width: 600px
  width: 100%

#wrapper
  background-color: var(--main-bg-color)
  font-family: var(--font)
  font-size: 12px

#svg-container
  width: 100vw

.inner-container
  position:relative

.q-markdown--link
  color: rgb(126, 216, 255) !important
  border-bottom: 1px dashed rgb(126, 216, 255) !important
  white-space: normal !important
