// app global css in Sass form

// @import url('https://fonts.googleapis.com/css?family=Chathura&display=swap')
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap')

html
  --main-bg-color: #070707
  // --font: 'Chathura', sans-serif
  --font: 'Quicksand', sans-serif

body
  font-size: 14px

#wrapper
  // display: grid
  // place-items: center
  min-height: 100vh
  background-color: var(--main-bg-color)
  font-family: var(--font)
  font-size: 12px

#svg-container
  width: 100vw

.inner-container
  position:relative
